*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    body{
        background: #222;    
        min-height: 100vh;    
        display: flex;    
        align-items: center;    
        justify-content: center;
    }
    .card{
     width: 90%;
    max-width: 420px;
    min-height: 85vh;
    background: linear-gradient(135deg, #eed446, #857ac8);
    color: #fff;
    border-radius: 20px;
    padding: 25px 20px;
    text-align: center;
    }
     
     @media (max-width: 480px) {

    .temp {
        font-size: 48px;
    }

    .city {
        font-size: 22px;
    }

    .details {
        flex-direction: column;
        gap: 15px;
    }
}


    .search{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search input{
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 60px;
        border-radius: 30px;
        flex: 1;
        margin-right: 16px;
        font-size: 18px;
        height: 50px;
        width: 50px;

    }

    .search button{
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .search button img{
        width: 16px;
    }

    .weather-icon{
        width: 120px;
        margin-top: 30px;
        max-width: 100%;
    }
    .credit{
        font-size: 14px;
        font-weight: 700;
        color: hotpink;
        padding-top: 10px;
        align-items: center;
        padding-right: 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .weather h1{
        font-size: 80px;
        font-weight: 400;
        margin-top: -10px;
    }
    .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;
    }

    .col{
        display: flex;
        align-items: center;
        text-align: left;
    }
    .col img{
        width: 40px;
        margin-right: 10px;
    }
    .humidity, .wind{
        font-size: 28px;
        margin-top: -6px;
    }
